In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
%matplotlib inline

In [3]:
aapl = yf.Ticker('AAPL')

In [27]:
days = 20
hist = aapl.history(period=f'{days}d')
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-25,148.463321,149.152318,147.404868,148.423386,50720600,0.0,0
2021-10-26,149.112382,150.620176,148.792841,149.102402,60893400,0.0,0
2021-10-27,149.142338,149.511794,148.273611,148.633087,56094900,0.0,0

In [28]:
hist.index

DatetimeIndex(['2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28',
               '2021-10-29', '2021-11-01', '2021-11-02', '2021-11-03',
               '2021-11-04', '2021-11-05', '2021-11-08', '2021-11-09',
               '2021-11-10', '2021-11-11', '2021-11-12', '2021-11-15',
               '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-19'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [29]:
#インデックスのフォーマットの変更
hist.index = hist.index.strftime('%d %B %Y')

In [30]:
hist = hist[['Close']]
hist.columns = ['apple']

In [31]:
hist.head()

                      apple
Date
25 October 2021  148.423386
26 October 2021  149.102402
27 October 2021  148.633087
28 October 2021  152.347656
29 October 2021  149.581696

In [32]:
hist = hist.T
hist

Date,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021
apple,148.423386,149.102402,148.633087,152.347656,149.581696,148.74292,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.0,151.0,153.490005,157.869995,160.550003

In [33]:
hist.index.name = 'Name'

In [34]:
hist

Date,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,148.423386,149.102402,148.633087,152.347656,149.581696,148.74292,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.0,151.0,153.490005,157.869995,160.550003

In [3]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        #company = 'facebook'

        tkr = yf.Ticker(tickers[company])

        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [6]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
    
}
df = get_data(days, tickers)

In [2]:
import altair as alt

In [7]:
df

Date,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,148.423386,149.102402,148.633087,152.347656,149.581696,148.742920,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.000000,151.000000,153.490005,157.869995,160.550003
facebook,328.690002,315.809998,312.220001,316.920013,323.570007,329.980011,328.079987,331.619995,335.850006,341.130005,338.619995,335.369995,327.640015,327.739990,340.890015,347.559998,342.959991,340.769989,338.690002,345.299988
google,2748.939941,2786.169922,2924.350098,2916.979980,2960.919922,2869.939941,2908.649902,2931.959961,2965.350098,2977.040039,2980.620117,2978.370117,2917.870117,2915.330078,2973.560059,2969.040039,2957.520020,2960.939941,2996.770020,2978.530029
microsoft,307.567322,309.543671,322.579865,323.757690,331.014404,328.768524,332.521667,333.390045,335.825592,335.446289,336.374603,335.336517,330.195892,331.822906,336.105103,335.456299,338.890015,339.119995,341.269989,343.109985
netflix,671.659973,668.520020,662.919983,674.049988,690.309998,681.169983,677.719971,688.289978,668.400024,645.719971,651.450012,655.989990,646.909973,657.580017,682.609985,679.330017,687.400024,691.690002,682.020020,678.799988
amazon,3320.370117,3376.070068,3392.489990,3446.570068,3372.429932,3318.110107,3312.750000,3384.000000,3477.000000,3518.989990,3488.979980,3576.229980,3482.050049,3472.500000,3525.149902,3545.679932,3540.699951,3549.000000,3696.060059,3676.570068

In [8]:
companies = ['apple', 'facebook']

data = df.loc[companies]
data

Date,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,148.423386,149.102402,148.633087,152.347656,149.581696,148.742920,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.000000,151.000000,153.490005,157.869995,160.550003
facebook,328.690002,315.809998,312.220001,316.920013,323.570007,329.980011,328.079987,331.619995,335.850006,341.130005,338.619995,335.369995,327.640015,327.739990,340.890015,347.559998,342.959991,340.769989,338.690002,345.299988

In [9]:
data.sort_index()

Date,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021,15 November 2021,16 November 2021,17 November 2021,18 November 2021,19 November 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,148.423386,149.102402,148.633087,152.347656,149.581696,148.742920,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005,150.000000,151.000000,153.490005,157.869995,160.550003
facebook,328.690002,315.809998,312.220001,316.920013,323.570007,329.980011,328.079987,331.619995,335.850006,341.130005,338.619995,335.369995,327.640015,327.739990,340.890015,347.559998,342.959991,340.769989,338.690002,345.299988

In [11]:
data = data.T.reset_index()
data.head()

Name             Date       apple    facebook
0     25 October 2021  148.423386  328.690002
1     26 October 2021  149.102402  315.809998
2     27 October 2021  148.633087  312.220001
3     28 October 2021  152.347656  316.920013
4     29 October 2021  149.581696  323.570007

In [12]:
data = pd.melt(data, id_vars=['Date'])

In [14]:
data = data.rename(columns={'value': 'Stock Prices(USD)'})
data

                Date      Name  Stock Prices(USD)
0    25 October 2021     apple         148.423386
1    26 October 2021     apple         149.102402
2    27 October 2021     apple         148.633087
3    28 October 2021     apple         152.347656
4    29 October 2021     apple         149.581696
5   01 November 2021     apple         148.742920
6   02 November 2021     apple         149.801376
7   03 November 2021     apple         151.269241
8   04 November 2021     apple         150.740005
9   05 November 2021     apple         151.279999
10  08 November 2021     apple         150.440002
11  09 November 2021     apple         150.809998
12  10 November 2021     apple         147.919998
13  11 November 2021     apple         147.869995
14  12 November 2021     apple         149.990005
15  15 November 2021     apple         150.000000
16  16 November 2021     apple         151.000000
17  17 November 2021     apple         153.490005
18  18 November 2021     apple         157.869995
19  19 November 2021     apple         160.550003
20   25 October 2021  facebook         328.690002
21   26 October 2021  facebook         315.809998
22   27 October 2021  facebook         312.220001
23   28 October 2021  facebook         316.920013
24   29 October 2021  facebook         323.570007
25  01 November 2021  facebook         329.980011
26  02 November 2021  facebook         328.079987
27  03 November 2021  facebook         331.619995
28  04 November 2021  facebook         335.850006
29  05 November 2021  facebook         341.130005
30  08 November 2021  facebook         338.619995
31  09 November 2021  facebook         335.369995
32  10 November 2021  facebook         327.640015
33  11 November 2021  facebook         327.739990
34  12 November 2021  facebook         340.890015
35  15 November 2021  facebook         347.559998
36  16 November 2021  facebook         342.959991
37  17 November 2021  facebook         340.769989
38  18 November 2021  facebook         338.690002
39  19 November 2021  facebook         345.299988

In [24]:
ymin, ymax = 300, 400

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x='Date:T',
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color='Name:N'
    )
)

In [25]:
chart

alt.Chart(...)